:root {
  --textColor: #fff;
  --textColorDark: #000;
  --colorPrimary: #05f3f3;
  --colorPrimaryDark: #099D9D;
}

body {
  background: #fff;
  color: #fff;
  overflow-x: hidden !important;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  min-height: 100vh;
}

a {
  text-decoration: none !important;

}